html {
        height: 100%;
        margin: 0;
};

body {
    background-position: center;
    background-image: url("assets\images\webpage-jungle-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
};
/* Title font */
h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Sigmar", serif;
    color: #fdc500;
};
/* Errors font */
h3 {
    text-align: center;
};

#game-section {
    box-sizing:border-box;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 10%;
    margin-right: 10%;
};

/* position of restart button on page */
.restart {
    display: flex;
    justify-content: center;
};

/* Style of restart button */
.restart-button {
    padding: 10px;
    font-size: 20;
    background-color: #fdc500;
    color: black;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
};

/* When you hover over restart button */
.restart-button:hover {
    background-color: #fdc60057;
    color: white;
};

/* Area where all the memory cards will be positioned */
.game-container {
    text-align: center;
};

/* grid design for the cards */ 
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
};

/* card enables the 3d effect */
.card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

/* flip the card when clicked */
.card.flipped .card-inner {
    transform: rotateY(180deg);
}

/* card hidden */
.card .card-front, .card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card .card-front {
    background-color: #fdc500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

/* back card 180deg rotation */
.card .card-back {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transform: rotateY(180deg);
}

.card img {
    width: 80%;
    height: 80%;
    border-radius: 6px;
}